@charset "UTF-8";

/* すべてのwebページに適用される */
body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.wrapper {
	margin: 0 auto 0 auto;
	width: 900px;
}
.footerlogo{
	margin-top: 5px;
}
h1{
	margin: 5px 0 5px 0;
	padding: 0 0 0 0;
	line-height: 0;
}
h2{
	color: #555;
	text-align: center;
	font-size: 18px;
	margin: 20px 0 20px 0;
	padding: 50px 10px 10px 10px;
}
p{
	line-height: 160%;
}
.spinner {
	width: 30px;
	height: 30px;
	margin: 200px auto;
	border: 5px solid #333;
	border-right: 5px solid transparent;
	border-radius: 50%;
	animation: rotate 1s linear infinite;
  }
#loading {
	width: 100vw;
	height: 100vh;
	transition: all 1s;
	background-color: rgb(255, 255, 255);   
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
 }
@keyframes rotate {
	100% {
	  transform: rotate(360deg);
	}
}
.loaded {
	opacity: 0;
	visibility: hidden;
  }
img{
	border-style: none;
}
.header_MENU{
	margin-top: 20px;
	margin-bottom: 40px;
}
.header-3 {
	box-sizing: border-box;
	width: 100%;
  }
.header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 0 0.8em;
	margin: 0 auto;
	font-size: 1.2em;
}
.header-nav {
	display: flex;
	align-items: center;
}
.header-nav-item {
	display: flex;
	align-items: center;
	margin-left: 16px;
}
.header-button {
	box-sizing: border-box;
	display: inline-block;
	padding: 0.5em 1.2em;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}
  
.header-login {
	color: #999;
}
  
.header-post {
	font-weight: bold;
	color: #fff;
	background: #EE817B;
	border: 1px #EE817B solid;
	border-radius: 3px;
}
  
.form2 {
	position: relative;
}

.form2 img {
	width: 20px;
}
  
.form2-input {
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	padding: 0 10px 0 34px;
	margin: 5px 0;
	font-size: 1em;
	color: #333;
	border: solid 1px #ccc;
	border-radius: 5px;
	outline: 0;
	transition: 0.3s;
}
  
.form2-button {
	position: absolute;
	top: 0;
	left: 2px;
	box-sizing: content-box;
	width: 30px;
	height: 40px;
	padding: 0;
	pointer-events: none;
	background: inherit;
	border: 0;
	opacity: 0.54;
}

@media screen and (max-width: 480px) {
	.header-post {
	  display: none;
	}
}
.content1 a:link{
	color: #EE817B;
}
.content1 a:visited{
	color: #EE817B;
}
.content1 a:hover{
	color: #d8657c;
}
.content1 a:active{
	color: #f0a9a5;
} 
.content-link li{
	list-style-type: none;
}
.content-link a{
	text-decoration: none;
}
.content-link p{
	font-weight: bold;
}

.content-link1{
	display: flex;
}

/* 	リンクの色変更する */
.content-link_Instagram a:link{
	color: #b580ea;
}
.content-link_Instagram a:visited{
	color: #965ece;
}
.content-link_Instagram a:hover{
	color: #e197ee;
}
.content-link_Instagram a:active{
	color: #965ece;
} 

.content-link_Twitter a:link{
	color: #6aaed3;
}
.content-link_Twitter a:visited{
	color: #4782a1;
}
.content-link_Twitter a:hover{
	color: #8fc4e1;
}
.content-link_Twitter a:active{
	color: #4782a1;
} 

.content-link_OfficiaLline a:link{
	color: #9dd36a;
}
.content-link_OfficiaLline a:visited{
	color: #78ac47;
}
.content-link_OfficiaLline a:hover{
	color: #b3db8d;
}
.content-link_OfficiaLline a:active{
	color: #78ac47;
} 


.content-link_Facebook a:link{
	color: #485e9b;
}
.content-link_Facebook a:visited{
	color: #34318a;
}
.content-link_Facebook a:hover{
	color: #5f76b3;
}
.content-link_Facebook a:active{
	color: #34318a;
} 

.content-link_recipe a:link{
	color: #e2d031;
}
.content-link_recipe a:visited{
	color: #dabd2d;
}
.content-link_recipe a:hover{
	color: #eadb5a;
}
.content-link_recipe a:active{
	color: #dabd2d;
} 
.content-link_Instagram a::before {
	/* >を表示*/
	content: '>';
	padding: 0 0.2em;
	color: #b580ea;
  }

.content-link_Twitter a::before {
	/* >を表示*/
	content: '>';
	padding: 0 0.2em;
	color: #6aaed3;
  }

.content-link_OfficiaLline a::before {
	/* >を表示*/
	content: '>';
	padding: 0 0.2em;
	color: #9dd36a;
  }

.content-link_Facebook a::before {
	/* >を表示*/
	content: '>';
	padding: 0 0.2em;
	color: #485e9b;
  }

.content-link_recipe a::before {
	/* >を表示*/
	content: '>';
	padding: 0 0.2em;
	color: #e2d031;
  }

/* すべてのページに適用 - navまわり - */
#nav li {
	text-align: center;	
	display: inline;
	list-style-type: none;
	padding-right: 50px;
}
#nav {
	margin: 0 0 0 0;
	cursor: pointer;
	text-align: center;
}
#nav li a:link {
	color: #EE817B;
	text-decoration: none;
}
#nav li a:visited {
	color: #EE817B;
	text-decoration: none;
}
#nav li a:hover {
	color: #d8657c;
	text-decoration: none;
}
#nav li a:active {
	color: #ffffff;
	text-decoration: none;
}
#footer-nav {
	margin: 0 0 0 0;
	cursor: pointer;
	padding: 15px 30px 10px 175px;
	text-align: center;
}
#footer-nav li {
	display: inline;
	list-style-type: none;
	padding-right: 70px;
}
#footer-nav li a:link {
	color: #EE817B;
	text-decoration: none;
}
#footer-nav li a:visited {
	color: #EE817B;
	text-decoration: none;
}
#footer-nav li a:hover {
	color: #d8657c;
	text-decoration: none;
}
#footer-nav li a:active {
	color: #ffffff;
	text-decoration: none;
}

.breadcrumb {
	margin: 0;
	padding: 0;
	list-style: none;
}
  
.breadcrumb li {
	display: inline;/*横に並ぶように*/
	list-style: none;
	font-weight: bold;/*太字*/
}
  
.breadcrumb li:after {
	/* >を表示*/
	content: '>';
	padding: 0 0.2em;
	color: #555;
}
  
.breadcrumb li:last-child:after {
	content: '';
}
  
.breadcrumb li a {
	text-decoration: none;
	color: gray;
}
  
.breadcrumb li a:hover {
	text-decoration: underline;
}

/* すべてのページに適用 - footer - */
#footer {
	margin-top: 30px;
	padding: 0 0 20px 15px;
	font-size: smaller;
	color: #EE817B;
}
.footer-2 {
	display: flex;
	justify-content: space-between;
}
.footer-2>P {
	width:49%;
}
.copyright{
	margin-top: 20px;
	margin-right: 300px;
	text-align: center;	
}

/* メイン画像 */
.keyvisual {
	padding: 10px 0 0 0;
}

/* 新着アイテム */
.content-pic {
	display: flex;
	list-style: none;
	padding: 0 20px 0 20px;
	justify-content: space-evenly;
}

.content-link2 {
	display: flex;
	list-style: none;
	padding: 0 20px 0 20px;
	justify-content: space-evenly;
}

.content-pic-2 {
	display: flex;
	list-style: none;
	padding: 0 20px 0 20px;
	justify-content: space-evenly;
}

.content-link3 {
	display: flex;
	list-style: none;
	padding: 0 20px 0 20px;
	justify-content: space-evenly;
}

.content-pic-3 {
	display: flex;
	list-style: none;
	padding: 0 20px 0 20px;
	justify-content: space-evenly;
}

.content-link1 {
	display: flex;
	list-style: none;
	padding: 0 20px 0 20px;
	justify-content: space-evenly;
}
.content-pic1{
	cursor: pointer;
	margin: 10px 20px 0 0;
}
.content-pic2{
	cursor: pointer;
	margin: 10px 0 0 0;
}
.content-pic3{
	cursor: pointer;
	margin: 10px 0 0 20px;
}
.content-pic img {
	transition: 1s all;
}
.content-pic-2 img {
	transition: 1s all;
}
.content-pic-3 img {
	transition: 1s all;
}
.content-pic img:hover{
	transform: scale(1.1,1.1);
	transition: 1s all;
}
.content-pic-2 img:hover{
	transform: scale(1.1,1.1);
	transition: 1s all;
}
.content-pic-3 img:hover{
	transform: scale(1.1,1.1);
	transition: 1s all;
}
.content1-text{
	text-align: center;	
	color: #555;
}

.content-link{
	margin-top: 100px;
	margin-bottom: 50px;
	border: 2px dotted #EAA8BF;
	position: relative;
}

.content-link:before{
	content: '*';
	color: #FFF;
	font-size: 80px;
	font-weight: bold;
	position: absolute;
	top: -46px;
	left: -28px;
	transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-webkit-transform: rotate(20deg); 
	-o-transform: rotate(20deg);
	text-shadow:  0 0 8px #ffe675, 0 0 6px #eaa8bf, 0 0 4px #eaa8bf, 0 0 2px #eaa8bf, 0 0 0.5px #eaa8bf;	/* 左上の花の縁取りの色 */
}

.content-link:after{
	content: '*';
	color: #fff;	/* 右下の花の色 */
	font-size: 70px;	/* 右下の花のサイズ */
	font-weight: bold; 
	position: absolute;
	bottom: -53px;
	right: -15px;
	transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-webkit-transform: rotate(20deg); 
	-o-transform: rotate(20deg);
	text-shadow:  0 0 8px #ffe675, 0 0 6px #eaa8bf, 0 0 4px #eaa8bf, 0 0 2px #eaa8bf, 0 0 0.5px #eaa8bf;	/* 右下の花の縁取りの色 */
}

.content-link p {
	margin: 0;
	padding: 0;
}

/* 横並び */
.company-contents {
	display: flex; /*横並び*/
  }
.company-contents .map {
	margin: 0;
	padding: 0;
	position: relative;
}
.company-contents .right {
	margin: 0 0 0 30px;
	padding: 0;
}
.company-contents .title {
	color: #EE817B;
	margin: 0 0 0 130px;
	padding: 0;
	font-weight: bold;
	font-size: 18px;
}
.company-contents .text {
	color: gray;
	margin: 10px 0 0 0;
	padding: 0;
}
.continue {
	font-size: 14px;
	color: #666;
	text-decoration: none;
	margin: 0 0 0 230px;
  }
.continue::after {
	display: inline-block;
	width: 0.4em;
	height: 0.4em;
	margin: 0 0.2em 0.1em;
	content: '';
	border-right: 0.14em solid #d84444;
	border-bottom: 0.14em solid #d84444;
	transform: rotate(-45deg);
}
.continue:hover {
	opacity: 0.6;
}
.about2{
	margin-bottom: 100px;
}